* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}


/*========================== INDEX Y SITIOS WEBS ===============*/

h1 {
    color: rgb(37, 37, 177);
    text-align: center;
}

h2 {
    text-align: center
}

.listado {
    text-align: center;
    padding: 2rem;
    list-style: none;
    margin: 25px;
    background: white;
    border-radius: 90px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.listado:hover {
    box-shadow: 0 8px 100px rgb(250, 46, 46);
    transition: 0.5s ease;
    transform: translateY(-5px)
}


p {
    text-align: center;
    padding: 1rem;
    margin: 1px;
    font-size: 25px;
}

.contenedor-proyectos {
    text-align: center;
}

/*========================== CONTACTO ============================*/

.formulario {
    text-align: center;
    flex: 1;
    font-size: x-large;
}


#nombre {
    width: 10%;
    height: 30px;
    margin-top: 20px;

}


#nombre:focus {
    outline: 2px solid red;
    transition: 0.4s ease;
}

#asunto {
    width: 10%;
    height: 30px;
    margin-top: 20px;
}

#asunto:focus {
    outline: 2px solid red;
    transition: 0.4s ease;
}



#mensaje {
    margin-top: 20px;
}

#mensaje:focus {
    outline: 2px solid red;
    transition: 0.4s ease;
}

/* ========================== ESTILO DE PROYECTOS ========================== */

#lista-proyectos div {
    text-align: center;
    padding: 2rem;
    list-style: none;
    margin: 25px;
    background: white;
    border-radius: 90px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#lista-tecnologias div {
    text-align: center;
    padding: 2rem;
    list-style: none;
    margin: 25px;
    background: white;
    border-radius: 90px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


/*========================== FOOTER ============================*/

.footer {
    background-color: rgb(122, 122, 233);
    padding: 1rem;
    margin: 50px;
    text-align: center;
    font-size: 20px;
}


@media (max-width: 767px) {
    body {
        background-color: green;
    }

}