* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}


/*========================== INDEX Y SITIOS WEBS ===============*/

h1 {
    color: rgb(37, 37, 177);
    text-align: center;
}

h2 {
    text-align: center
}

.listado {
    text-align: center;
    padding: 2rem;
    list-style: none;
    margin: 25px;
    background: white;
    border-radius: 90px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    gap: 2rem; 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

p {
    text-align: center;
    padding: 1rem;
    margin: 1px;
    font-size: 25px;
}

.contenedor-proyectos {
    text-align: center;
}

/*========================== CONTACTO ============================*/

.formulario {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex: 1;
    font-size:x-large;
}


/*========================== FOOTER ============================*/

.footer {
    background-color: rgb(122, 122, 233);
    padding: 1rem;
    margin: 50px;
    text-align: center;
    font-size: 20px;
}